@media (min-width: 500px) {
    h1::after {
        content: " Conference NCAAF Teams";
    }
}

h1 {
    padding: 20px;
    font-size: 48px;
    background-color: blue;
    color: white;
}
h2 {
    margin: 20px;
}
p {
    margin: 10px;
}
.logos {
    padding: 10px;
}
#East {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: grey;
    font-weight: bold;
}
#West {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: blue;
    font-weight: bold;
}

