$color: solid black;
%message {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: 20px;
}

@media (min-width: 500px) {
    h1::before {
        content: "Big Ten Conference Standings ";
    }
}

p, h1 {
    @extend %message;
}
table {
    @extend %message;
    border-collapse: collapse;
    width: 75%;
    padding: 5px;
    text-align: center;
    td {
        border: 1px $color;

    }
    th {
        background-color: lightgray;
        border: 2px $color;
    }
}
