@media (min-width: 500px) {
    h1::before {
        content: "Big Ten Conference Standings ";
    }
}
p, h1 {
    margin: 20px;
}
table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 75%;
    margin: 20px;
}
th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
th {
    background-color: lightgray;
}
